{% extends 'base.html' %}

{% block content %}
<br><br>

<form method="post" action=""> {% csrf_token %}
  <div class="form-group row">
    <label for="id_title" class="col-sm-2 col-form-label" >Title:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="id_title" placeholder="타이틀을 입력하세요" name="title">
    </div>
  </div>
  <div class="form-group row">
      <label for="id_embed_code" class="col-sm-2 col-form-label">Embed Code:</label>
      <div class="col-sm-8">
          <textarea cols="40" id="id_embed_code" class="form-control" name="embed_code" rows="10" placeholder="비디오 경로를 입력하세요" required></textarea>
      </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10 text-center" >
      <button type="submit" class="btn btn-primary">OK</button>
        <a href="javascript:history.back()" class="btn btn-secondary" role="button">Back</a>
    </div>
  </div>
</form>


{% endblock %}