{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
%}
{% block content %}
<a href="{% url 'video-create' %}" class="btn btn-primary" role="button">비디오생성</a>

<table class="table">
  <thead class="thead-dark">
    <tr>

      <!--<th scope="col" class="text-center">비디오 1</th>-->
      <!--<th scope="col" class="text-center">비디오 2</th>-->
      <!--<th scope="col" class="text-center">비디오 3</th>-->
        <th colspan="3" scope="col" class="text-center"> 총 비디오</th>
    </tr>
    <tr>
    </tr>
  </thead>
  <tbody>
    {{ all_count }}
    {% for object in object_list %}
         <tr>
             <td><a href={% url 'video-detail' object.id %}>{{ object.title }}</a></td>
             <td>{{ object.timestamp|date:"Y-m-d [H:i:s] "  }}</td>
             <td><a href="{% url 'video-update' object.id %}" class="btn btn-primary" role="button">Update</a></td>

        </tr>


    {% endfor %}

  </tbody>
</table>
{% endblock %}
</body>
</html>