
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <duv ckass="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                        <td><img class="img-fluid img-thumbnail" src="{{item.image.thumb_url}}"></td>
                        <td>{{ item.timestamp|date:"Y-m-d" }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </duv>
    </div>
</div>

{% endblock %}
